/* 페이지 보기위한 디스플레이 설정 */
/* .signBox {
    display: none;
  }
  .loginAfter {
    display: block;
  }
  .alarmModal {
    display: none;
  }
  .userMiniMenu {
    display: none;
  } */

/* 로드맵디테일 */
.roadMapDetailTitle{
    
    text-align: center;
  margin-top: 100px;
}
.roadMapDetailTitle>h1{
    font-size: 58px;
}
.userInfo{
    display: flex;
    position: relative;
    margin-left: 68%;
    margin-top: 30px;
}
.imgBox>img{
    width: 50px;
}
.followBtn{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
}
.followBtn>div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
    margin-left: 5px;
    position: relative;
    top: 7px;
}
.followBtn>p{
    font-size: 10px;
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.userInfoBox{
    margin-top: 8px;
    margin-left: 40px;
}
.userName{
    font-size: 27px;
    font-weight: bold;  cursor: pointer;
}
.followBtn>.greenColor{
    background-color: #1bb51b;
  }
.userFollows{
   color:  #c6c7cc;
   font-size: 12px;
   margin-top: 15px;  cursor: pointer;
}
.userFollows>img{
    width: 18px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.userFollows >a>span{
    margin-right: 10px;
}
.userDetailBox{
    position: absolute;
    right: 73%;
    width: 106px;
    height: 90px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    z-index: 2;
    top: 37%;
    line-height: 27px;
    font-size: 13px;
}
/* 로드맵 사이드메뉴 */
.roadMapDetailSideMenu{
    width: 20%;
    height: 163vh;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.02);
    position: absolute;
    top: 116px;
    right: 0px;
    z-index: 5;
    background-color: white;
    transition: all 1s;
   
}
.sideMenuTitle{
    margin: 40px;
}
.bigfollowBtn{
    width: 100px;
    height: 30px;
   margin-bottom: 20px;
   cursor: pointer;
   border-radius: 5px;
  background-color: white;
}
.bigfollowBtn>.greenColor{
    background-color: #1bb51b;
  }
.bigfollowBtn>div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin-left: 10px;
    position: relative;
    top: 7px;
}
.bigfollowBtn>p{
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    top:-5px;
}
.filterBox {
    display: flex;
    width: 270px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .filterBox > p {
    margin-right: 30px;
    margin-bottom: 10px;
    color: #868E96;
    cursor: pointer;
  }
  .filterBox>.clickP{
    color: black;
    font-weight: bold;

    border-bottom: 3px solid black;
    
  }
  .filterBox > p:first-child {
    margin-left: 10px;
  }

.miniPostList>li{
    width: 300px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.02);
}
.miniPostUser{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.miniPostUser>h3{
    margin-top: 10px;

}
.miniPostUser>p{
font-size: 13px;

}
.miniPostContent{
    width: 280px;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 15px;
}
.miniPostComment{
    margin-top: 20px;
    position: relative;
    left: 180px;
}
.miniPostComment>img{
    width: 12px;
    margin-left: 20px;
    margin-right: 3px;
}
.miniPostComment>.heartIcon{
    width: 17px;
    position: relative;
    top: 2px;

}
.miniPostUserDetailBox{
    position: absolute;
    top: 268px;
    right: 23%;
    width: 106px;
    height: 90px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    z-index: 5;
    line-height: 27px;
    font-size: 13px;
    text-align: center;
}
/*로드맵컨텐츠 */
.roadMapDetailContents{
    text-align: center;
}
.roadMapDetailContents>img{
    width: 80%;
    margin-top: 100px;
    z-index: -10;
}

.roadMapDetailContents>form>textarea{
    width: 800px;
    margin-top: 50px;
    border: none;
    background-color: #E8DFE7;
    resize: none;
    padding: 20px;
    font-size: 15px;
}
.roadMapDetailContents>form>textarea::placeholder{
 
    font-size: 15px;
}
.textareaSubmit{
    width:100px ;
    height: 30px;
    font-size: 15px;
margin-bottom: 50px;
position: relative;
right: -400px;
top: 20px;
border-radius: 10px;
color: white;
background-color: #a554f3;
border: none
}
/* 로드맵코멘트 */
.roadMapDetailCommnet>ul>li{
    display: flex;
    margin: 50px 0;
    padding: 0 50px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.02);
}
.roadMapDetailCommnet>ul>li>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 50px;
    
}
.commentUserDetailBox{    
    position: absolute;
 
    left: 470px;
    z-index: 5;
    width: 106px;
    height: 90px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    line-height: 27px;
    font-size: 13px;
    text-align: center;
}
.commentDate{
    font-size: 13px;
    margin: 10px 0;
}
.userReport{display: flex;}
.userReport>h2{
    margin-right: 40px;
}
.userReport>img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
   
}
.commentContent{
    margin-bottom: 20px;
}