  .backgroundDiv{
    background-color: rgb(243, 243, 243);
    margin-left: -90px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 1720px;
  }
  .writingDiv{
    width: 1720px;
    height: 690px;
  }
  .bottomBtnDiv{
    background-color: white;
    width: 1722px;
    position: relative;
    right: 1px;
    box-shadow: 20px -20px 15px -27px grey;
  }
  .outBtn{
    font-size: 18px;
    border: none;
    width: 100px;
    height: 50px;
    position: relative;
    left: 10px;
    background-color: white;
  }
  .outIcon{
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    right: 3px;
  }
  .importBtn{
    color: white;
    background-color: #a554f3;
    border: none;
    width: 37px;
    height: 37px;
    border-radius: 12px;
    position: relative;
    top: 5px;
    left: 395px;
    margin: 10px;
  }

  .importDiv input[type="file"]{
    display: none;
  }
  .buttonImage{
    width:  23px;
    height: 23px;
    filter: brightness(100);
  }
  .draftBtn{
    border-radius: 5px;
    color: #a554f3;
    background-color: white;
    border-color: #a554f3;
    border-width: 1px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    left: 395px;
    margin: 10px;
  }
  .publishBtn{
    color: white;
    background-color: #a554f3;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    left: 395px;
    margin: 10px;
  }




  
  
  



  /*마크다운 구역*/
  .imgUploadBtn{
    background-color: rgba(175, 184, 193, 0.2);
    color: #0969da;
    height: 20px;
    width: 21px;
  }
  .imgUploadDiv input[type="file"]{
    display: none;
  }
  .imgUploadImg{
    width: 14px;
    height: 14px;
    filter: brightness(0);
  }
  .markarea{
    width: 1720px;
  }
  
  
  

  
  

